body {
    background-color: black;
    color: white;
}


.squirrel-progress {
    position: absolute;
    top: 0;
    left: 0;
}
.home-link {
    position: absolute;
    top: 0;
    right: 5px;
}

.header {
font-size: 20px;
}

.selector {
    font-size: 12px;
    color: lightgray;
}

.box {
    border: 2px dotted;
    width: 100px;
    height: 100px;
}

ol.letters {
    list-style-type: upper-alpha;
}

ul.squares {
    list-style-type: square;
}
:hover a {
    color: red;
}